{%  extends 'base.html'%}
{% load static %}
{% block content %}
<div class="text-center fs-2">
    About <b class="txt-mycolor">Us <i class="fa-regular fa-address-card"></i></b></br>
    <b>GetIn 1oMint, a 10-minute grocery delivery app in India, raises $100 million</b>
    <div class="row">
        <div class="col-sm-12 ms-2 pt-3">
            <img src="{% static 'images/logo.png'%}" style="height:400px;width:1200px;border-radius:10px;"" />
        </div></div>
    <div class="row">
   <div class="col-sm-12 mt-2 px-5 pt-3">
       <h4 class="text-black">
GetIn 10Mint, a Lucknow-based startup that operates a 10-minute instant grocery delivery service,
has more than doubled its valuation to $570 million
 from $225 million less than two months ago as it expands into newer cities.
 Glade Brook, Nexus, Breyer Capital, Lachy Groom which brings its to-date raise to $160 million.
But long before it began talking about the business, Zepto had captured immense interest from the
local startup  their opinion about the business.
Zepto, whose name playfully uses a mathematical term to describe the business, offers a 10-minute grocery delivery service.
 Heavily-backed players Swiggy and BlinkIt (formerly known as Grofers) have also entered the instant grocery delivery business.
10Mint’s arrival in the scene, too, was serendipitous.
 As the pandemic raged, the two struggled to get their grocery supplies even as grocery deliveries, categorized as essential by the local government, was still permitted in much of the nation.
       </h4>
   </div>
    </div>
</div>
{% endblock %}